# CMake
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

# VS
.vs/
*.vcxproj*
*.sln
*.ilk
*.dll
*.pdb
*.lib
*.dir/
Debug/

# GTest
/gtest/
